{% load render_partial %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'components/head.html' %}
    <title> HI, I'm SIAVASH</title>
</head>


<body>

    <div class="page-wrapper">

        <!-- Preloader -->
        <div class="preloader"></div>


        <!-- site header 
        ========================= -->
        
        {% include 'components/siteheader.html'%}
        <!-- site header ends
        ========================= -->


        <!-- title section
        ====================== -->
        <section class="gallery-section">
            <div class="auto-container">
                <div class="title-box">
                    <h1>{{info.title | linebreaks}}</h1>
                    <div class="title">{{info.grey | linebreaks}}</div>
                    
                </div>
                
            </div>
        </section>
        <!-- title section ends
        ====================== -->


        <!-- intro
        ====================== -->


        <section class="about-section">
            <div class="auto-container">
                <div class="row clearfix">
                    
                    <!-- Image Column -->
                    <div class="image-column col-lg-6 col-md-12 xol-sm-12">
                        <div class="inner-column">
                            <div class="image">
                                <img src="{{about.bigImg.url}}" alt="">
                            </div>
                        </div>
                    </div>
                    
                    <!-- Content Column -->
                    <div class="content-column col-lg-6 col-md-12 xol-sm-12">
                        <div class="inner-column">
                            <h3>Biography</h3>
                            <div class="text">
                                <p>{{about.p1 | linebreaks}}</p>
                                <div class="quote-text">“ {{about.slang}} ”</div>
                                <p> {{about.p2 | linebreaks}} </p>
                            </div>
                        </div>
                    </div>
                    
                </div>
                
                <!-- Social Icon Two -->
                <ul class="social-icon-two">
                    <li><a href="{{info.insta}}"><span class="fa fa-instagram"></span></a></li>
                    <li><a href="{{info.github}}"><span class="fa fa-github"></span></a></li>
                    <li><a href="{{info.linkedin}}"><span class="fa fa-linkedin"></span></a></li>
                    <li><a href="tel:+989335282975"><span class="fa fa-phone"></span></a></li>
                </ul>
                
                <!-- About Box -->
                <div class="about-box">
                    <div class="box-inner">
                        <h6>{{info.name}}</h6>
                        <div class="category">{{info.myTitle}}</div>
                    </div>
                </div>
                
            </div>
        </section>
        <!-- intro ends
        ====================== -->

        <br><br>
        <footer class="main-footer">
            {% include 'components/footer.html' %}
        </footer>

    </div>
    
{% include 'components/footerScripts.html' %}

</body>
</html>


