{% load static%}
{% load render_partial%}
<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'components/head.html' %}
    <title>Document</title>
</head>
<body>
    <div class="page-wrapper">
        
        <div class="preloader"></div>
        
        {% include 'components/siteheader.html'%}
        

        <section class="page-title">
            <div class="auto-container">
                <h1>Skills</h1>
            </div>
        </section>




        <footer class="main-footer">
            {% include 'components/footer.html' %}
        </footer>
    </div>

<script src="{% static 'js/jquery.js' %}"></script>
<script src="{% static 'js/main.js' %}"></script>
</body>
</html>