{% load static %}
{% load render_partial %}
<!DOCTYPE html>
<html lang="en">
    <head>
        {% include 'components/head.html' %}
        <title> HI, I'm SIAVASH</title>
   </head>
<body>

    <div class="page-wrapper">

        <!-- Preloader -->
        <div class="preloader"></div>


        <!-- site header 
        ========================= -->
        
        {% include 'components/siteheader.html'%}
        <!-- site header ends
        ========================= -->

        <section class="page-title">
            <div class="auto-container">
                <h1>Projects</h1>
            </div>
        </section>

        <div class="sidebar-page-container">
            <div class="auto-container">
                <div class="row clearfix">
                    
                    <!--Content Side-->
                    <div class="content-side col-lg-8 col-md-12 col-sm-12">
                        <div class="blog-details">
                            {% for project in list %}

                            <!-- News Block -->
                            <div class="news-block-two">
                                <div class="inner-box project-border">
                                    <div class="row clearfix">
                                        <!-- Image Column -->
                                        <div class="flex-align-center image-column col-lg-6 col-md-6 col-sm-12">
                                            <div class="inner-column">
                                                <div class="image">
                                                    <a href="{{project.get_absolute_url}}"><img src="{{project.imagMain.url}}" alt=""></a>
                                                </div>
                                            </div>
                                        </div>
                                        
                                        <!-- Content Column -->
                                        <div class="content-column col-lg-6 col-md-6 col-sm-12">
                                            <div class="inner-column">
                                                {% for cat in project.category.all %}
                                                <div class="category">{{cat}}</div>
                                                {%endfor%}
                                                <h4><a href="{{project.get_absolute_url}}">{{project.title}}</a></h4>
                                                <div class="post-date">{{project.timestamp | date}}</div>
                                                <a href="{{project.get_absolute_url}}" class="theme-btn btn-style-one">continue reading <span class="arrow flaticon-next-3"></span></a>
                                            </div>
                                        </div>
                                    </div>
                                    
                                </div>
                            </div>
                            <br><br><br>
                            {% endfor %}
                            
                            <div class="paginator">
                                <!--Styled Pagination-->
                                <ul class="styled-pagination">
                                    
                                    {% if list.has_previous %}
                                    <li class="prev"><a href="?page={{list.previous_page_number}}"><span class="fa fa-angle-left"></span> &nbsp; Previous</a></li>
                                    {% endif %}

                                    {% for num in paginator.page_range %}
                                    <li><a href="?page={{num}}" class="{% if num == list.number %}active{%endif%}">{{num}}</a></li>
                                    {%endfor%}

                                    {% if list.has_next %}
                                    <li class="next"><a href="?page={{list.next_page_number}}">Next &nbsp; <span class="fa fa-angle-right"></span></a></li>
                                    {% endif %}
                                    
                                </ul>
                                
                                <!--End Styled Pagination-->
                            </div>
                            
                        </div>
                    </div>
                    
                    <!--Sidebar-->
                    {% render_partial 'sidebarPartial' %}
                    
                </div>
            </div>
        </div>

        <footer class="main-footer">
            {% include 'components/footer.html' %}
        </footer>

    </div>






{% include 'components/footerScripts.html' %}


</body>
</html>