{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        {% include 'components/head.html' %}
        <title> HI, I'm SIAVASH</title>
   </head>
<body>

    <div class="page-wrapper">

        <!-- Preloader -->
        <div class="preloader"></div>


        <!-- site header 
        ========================= -->
        
        {% include 'components/siteheader.html'%}
        <!-- site header ends
        ========================= -->

        <section class="page-title">
            <div class="auto-container">
                <h1>Projects</h1>
            </div>
        </section>

        <div class="sidebar-page-container">
            <div class="auto-container">
                <div class="row clearfix">
                    
                    <!--Content Side-->
                    <div class="content-side col-lg-8 col-md-12 col-sm-12">
                        <div class="blog-details">
                            {% for project in list %}

                            <!-- News Block -->
                            <div class="news-block-two">
                                <div class="inner-box project-border">
                                    <div class="row clearfix">
                                        <!-- Image Column -->
                                        <div class="flex-align-center image-column col-lg-6 col-md-6 col-sm-12">
                                            <div class="inner-column">
                                                <div class="image">
                                                    <a href="{{project.get_absolute_url}}"><img src="{{project.imagMain.url}}" alt=""></a>
                                                </div>
                                            </div>
                                        </div>
                                        
                                        <!-- Content Column -->
                                        <div class="content-column col-lg-6 col-md-6 col-sm-12">
                                            <div class="inner-column">
                                                {% for cat in project.category.all %}
                                                <div class="category">{{cat}}</div>
                                                {%endfor%}
                                                <h4><a href="{{project.get_absolute_url}}">{{project.title}}</a></h4>
                                                <div class="post-date">{{project.timestamp | date}}</div>
                                                <a href="{{project.get_absolute_url}}" class="theme-btn btn-style-one">continue reading <span class="arrow flaticon-next-3"></span></a>
                                            </div>
                                        </div>
                                    </div>
                                    
                                </div>
                            </div>
                            <br><br><br>
                            {% endfor %}
                            
                            <div class="paginator">
                                <!--Styled Pagination-->
                                <ul class="styled-pagination">
                                    <li class="prev"><a href="#"><span class="fa fa-angle-left"></span> &nbsp; Previous</a></li>
                                    <li><a href="#" class="active">1</a></li>
                                    <li><a href="#">2</a></li>
                                    <li><a href="#">3</a></li>
                                    <li><a href="#">4</a></li>
                                    <li><a href="#">5</a></li>
                                    <li class="next"><a href="#">Next &nbsp; <span class="fa fa-angle-right"></span></a></li>
                                </ul>
                                <!--End Styled Pagination-->
                            </div>
                            
                        </div>
                    </div>
                    
                    <!--Sidebar-->
                    <div class="sidebar-side col-lg-4 col-md-12 col-sm-12">
                        <aside class="sidebar">
                            
                            <!-- Popular Posts -->
                            <div class="sidebar-widget popular-posts">
                                <div class="sidebar-title">
                                    <h3>Most Viewd</h3>
                                </div>
                                <div class="widget-content">
                                    {% for project in most_view %}
                                        <article class="post">
                                            <figure class="post-thumb"><a href="{{project.get_absolute_url}}"><img src="{{project.imagMain.url}}" alt="{{project.caption}}"></a></figure>
                                            <div class="post-info">{{project.timestamp | date}}</div>
                                            <div class="text"><a href="{{project.get_absolute_url}}">{{project.title}}</a></div>
                                        </article>
                                    {% endfor %}
                                    
    
                                </div>
                            </div>
                            
                            <!-- Category Widget -->
                            <div class="sidebar-widget category-widget">
                                <div class="sidebar-title">
                                    <h3>Category</h3>
                                </div>
                                <div class="widget-content">
                                    <ul>
                                        {% for category in categories %}
                                        <li><a href="#">{{category}}</a></li>
                                        {%endfor%}
                                        
                                    </ul>
                                </div>
                            </div>
                            
                            <!-- Instagram Widget -->
                            <div class="sidebar-widget instagram-widget">
                                <div class="sidebar-title">
                                    <h3>instagram</h3>
                                </div>
                                <div class="widget-content">
                                    <div class="images-outer clearfix">
                                        <!--Image Box-->
                                        <figure  class="image-box"><a href="{% static 'images/gallery/instagram-1.jpg' %}" class="instagram-image" data-caption="" data-fancybox="images" title="Image Title Here" data-fancybox-group="footer-gallery"><span class="overlay-box flaticon-plus"></span></a>
                                        <img src="{% static 'images/gallery/instagram-1.jpg' %}" alt=""></figure>
                                    
                                        <figure class="image-box"><a href="{% static 'images/gallery/instagram-1.jpg' %}" class="instagram-image" data-caption="" data-fancybox="images" title="Image Title Here" data-fancybox-group="footer-gallery"><span class="overlay-box flaticon-plus"></span></a>
                                        <img src="{% static 'images/gallery/instagram-1.jpg' %}" alt=""></figure>
                                    
                                        <figure class="image-box"><a href="{% static 'images/gallery/instagram-1.jpg' %}" class="instagram-image" data-caption="" data-fancybox="images" title="Image Title Here" data-fancybox-group="footer-gallery"><span class="overlay-box flaticon-plus"></span></a>
                                        <img src="{% static 'images/gallery/instagram-1.jpg' %}" alt=""></figure>
                                    
                                        <figure class="image-box"><a href="{% static 'images/gallery/instagram-1.jpg' %}" class="instagram-image" data-caption="" data-fancybox="images" title="Image Title Here" data-fancybox-group="footer-gallery"><span class="overlay-box flaticon-plus"></span></a>
                                        <img src="{% static 'images/gallery/instagram-1.jpg' %}" alt=""></figure>
                                    
                                        <figure class="image-box"><a href="{% static 'images/gallery/instagram-1.jpg' %}" class="instagram-image" data-caption="" data-fancybox="images" title="Image Title Here" data-fancybox-group="footer-gallery"><span class="overlay-box flaticon-plus"></span></a>
                                        <img src="{% static 'images/gallery/instagram-1.jpg' %}" alt=""></figure>
                                    
                                        <figure class="image-box"><a href="{% static 'images/gallery/instagram-1.jpg' %}" class="instagram-image" data-caption="" data-fancybox="images" title="Image Title Here" data-fancybox-group="footer-gallery"><span class="overlay-box flaticon-plus"></span></a>
                                        <img src="{% static 'images/gallery/instagram-1.jpg' %}" alt=""></figure>
                                    
                                        <figure class="image-box"><a href="{% static 'images/gallery/instagram-1.jpg' %}" class="instagram-image" data-caption="" data-fancybox="images" title="Image Title Here" data-fancybox-group="footer-gallery"><span class="overlay-box flaticon-plus"></span></a>
                                        <img src="{% static 'images/gallery/instagram-1.jpg' %}" alt=""></figure>
                                    
                                        <figure class="image-box"><a href="{% static 'images/gallery/instagram-1.jpg' %}" class="instagram-image" data-caption="" data-fancybox="images" title="Image Title Here" data-fancybox-group="footer-gallery"><span class="overlay-box flaticon-plus"></span></a>
                                        <img src="{% static 'images/gallery/instagram-1.jpg' %}" alt=""></figure>
                                
                                    
                                    </div>
                                </div>
                            </div>
                            
                        </aside>
                    </div>
                    
                </div>
            </div>
        </div>



    </div>






<script src="{% static 'js/jquery.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/jquery.fancybox.js' %}"></script>
<script src="{% static 'js/main.js' %}"></script>

</body>
</html>