{% load static %}
{% load render_partial %}
<!DOCTYPE html>
<html lang="en">
<head>
  {% include 'components/head.html' %}
  <title> HI, I'm SIAVASH</title>
</head>
<body>

	<div class="page-wrapper"><div class="preloader"></div>
		
		<!-- ====================
			site header 
        ========================= -->
        {% include 'components/siteheader.html'%}
        
			
			
			<!--==============
			     page title
			==================  -->
		<section class="page-title">
			<div class="auto-container">
				<h1>{{project.title}}</h1>
				<div class="title"><p> {% for cat in project.category.all %}{{cat}} {% endfor %}</p></div>
			</div>
		</section>



		<div class="default-gallery-box">
			<div class="inner-box">
				<div class="image">
					<img src="{{project.imagMain.url}}" alt="">
					<!--Overlay Box-->
					<div class="overlay-box">
						<div class="overlay-inner">
							<div class="content">
								<a href="{{project.imagMain.url}}" data-fancybox="project" data-caption="" class="link"><span class="icon flaticon-plus-symbol"></span></a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>



		<br><br><br>

			
		<section class="project-single-section-two">
			<div class="auto-container">
	
				<!-- Gallery Content Box -->
				<div class="gallery-content-box">
					<div class="row clearfix">
						
						<div class="column col-lg-3 col-md-6 col-sm-12">
							<h5>Project Description</h5>
							<p>{{project.caption | linebreaks}}</p>
						</div>
						
						<div class="column col-lg-3 col-md-6 col-sm-12">
							<h5>specifications</h5>
							<p>
								<div class="sidebar-widget category-widget">
									<div class="widget-content">
										<ul>
											{% for tech in techs %}
												<li><a>{{tech}}</a></li>
											{% endfor %}
										</ul>
									</div>
								</div>
							</p>
						</div>
						
						<div class="column col-lg-3 col-md-6 col-sm-12">
							<h5>Team</h5>
							<p>Design, HTML Coding &amp; WordPress Development</p>
						</div>
						
						<div class="column col-lg-3 col-md-6 col-sm-12">
							<a href="{{project.source_code}}" class="visit-projects mybtn">Source Code</a>
							<a href="{{project.source_code}}" class="visit-projects mybtn">previe</a>
						</div>
						
					</div>
				</div>
				
			</div>
		</section>


		{% if gallery %}
			<div class="additional-img">
				
				{% for img in gallery %}
					<div class="default-gallery-box masonry-item col-lg-6 col-md-6 col-sm-12">
						<div class="inner-box">
							<div class="image">
								<img src="{{img.image.url}}" alt="">
								
								<!-- overlay -->
								<div class="overlay-box">
									<div class="overlay-inner">
										<div class="content">
											<a href="{{img.image.url}}" data-fancybox="project" data-caption="" class="link"><span class="icon flaticon-plus-symbol"></span></a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				{% endfor %}
			</div>
		{% endif %}
		<footer class="main-footer">
            {% include 'components/footer.html' %}
        </footer>	
	</div>
<script src="{% static 'js/jquery.js' %}"></script>
<script src="{% static 'js/popper.min.js'%}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/jquery.mCustomScrollbar.concat.min.js'%}"></script>
<script src="{% static 'js/jquery.fancybox.js' %}"></script>
<script src="{% static 'js/jquery-ui.js'%}"></script>
<script src="{% static 'js/jquery.bootstrap-touchspin.js'%}"></script>
<script src="{% static 'js/main.js'%}"></script>
</body>
</html>