<div class="footer-bottom">
    <div class="outer-container">
        <div class="clearfix">
            
            <div class="pull-left">
                <div class="copyright">© 2021 All rights resetrved.</div>
            </div>
            
            <div class="pull-right">
                <!--Scroll to top-->
                <div class="scroll-to-top scroll-to-target" data-target="body"><span class="icon fa fa-angle-double-up"></span></div>
            </div>
            
        </div>
    </div>
</div>