{% load static %}

<section class="about-section">
    <div class="auto-container">
        <div class="row clearfix">
            
            <!-- Image Column -->
            <div class="image-column col-lg-6 col-md-12 xol-sm-12">
                <div class="inner-column">
                    <div class="image">
                        <img src="{% static 'images/resource/about.jpg' %}" alt="">
                    </div>
                </div>
            </div>
            
            <!-- Content Column -->
            <div class="content-column col-lg-6 col-md-12 xol-sm-12">
                <div class="inner-column">
                    <h3>Biography</h3>
                    <div class="text">
                        <p>This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil fugit repellat labore et dolore, rerum, saepe molestiae earum aliquid voluptatibus necessitatibus a, quos eius pariatur qui velit blanditiis nisi! Totam. </p>
                        <div class="quote-text">“It’s through mistakes that you actually can grow. <br> You have to get bad in order to get good.”</div>
                        <p>This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Debitis eveniet exercitationem dolorum impedit, ullam ut blanditiis doloremque facilis vero ad cum laudantium eum? Ad tempora nihil fuga doloribus deserunt voluptate? </p>
                    </div>
                </div>
            </div>
            
        </div>
        
        <!-- Social Icon Two -->
        <ul class="social-icon-two">
            <li><a href="#"><span class="fa fa-facebook"></span></a></li>
            <li><a href="#"><span class="fa fa-twitter"></span></a></li>
            <li><a href="#"><span class="fa fa-linkedin"></span></a></li>
            <li><a href="#"><span class="fa fa-tumblr"></span></a></li>
        </ul>
        
        <!-- About Box -->
        <div class="about-box">
            <div class="box-inner">
                <h6>Siavash Mehran</h6>
                <div class="category">Developer</div>
            </div>
        </div>
        
    </div>
</section>