{% load static %}
<header class="main-header fixed-header">

    <!--Header-Upper-->
    <div class="header-upper">

        <div class="auto-container">
            
            <div class="clearfix">

                <div class="pull-left logo-box">
                    <div class="logo"><a href="/"><img src="{% static 'images/logo.png' %}" alt="" title=""></a></div>
                </div>



                <div class="nav-outer clearfix">

                    <!-- Option Box -->
                    <div class="option-box clearfix">

                        <!-- <div class="search-btn">
                            <a class="search-icon-btn search-box-btn icon-search" href="#">
                                <span class="flaticon-search-1"></span>
                            </a>
                        </div> -->

                        <div class="cart-btn">
                            <a class="cart-icon-btn icon-cart flaticon-shopping-cart-of-checkered-design" href="shop-single.html">
                                <span class="total-cart">0</span>
                            </a>
                        </div>

                    </div>

                    <!-- Main Menu -->
                    <nav class="main-menu navbar-expand-md">
                        <div class="navbar-header">
                            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                        </div>

                        <div class="navbar-collapse collapse clearfix" id="navbarSupportedContent">

                            <ul class="navigation clearfix">

                                <li class="dropdown{% if request.path == '/' %} current{% endif %}"><a href="/">Home</a></li>

                                <li class="dropdown{% if request.path == '/about' %} current{% endif %}"><a href="/about">About Us</a> </li>

                                <li class="dropdown{% if request.path == '/contact' %} current{% endif %}"><a href="/contact">Contact Me</a></li>


                                <li class="dropdown{% if request.path == '/projects'%} current{% endif %}"><a href="#">Portfolio</a>
                                    <ul>
                                        <li><a href="/projects">Portfolio</a></li>
                                        <li><a href="/projects/1">Python</a></li>
                                    </ul>
                                    <div class="dropdown-btn"><span class="fa fa-angle-down"></span></div>
                                </li>


                                <li>
                                    <a class="search-icon-btn search-box-btn icon-search" href="#">
                                        <span class="flaticon-search-1"></span>
                                    </a>
                                </li>

                            </ul>
                        </div>

                    </nav>

                </div>

            </div>
        </div>
    </div>
    <!--End Header Upper-->

    <div id="search-popup" class="search-popup">
        <span class="color"></span>
        <div class="close-search theme-btn"><span class="flaticon-cancel-1"></span></div>
        <div class="popup-inner">
        
            <div class="search-form">
                <form method="post" action="index.html">
                    <div class="form-group">
                        <fieldset>
                            <input type="search" class="form-control" name="search-input" value="" placeholder="Search Here" required="">
                            <input type="submit" value="Search" class="theme-btn">
                        </fieldset>
                    </div>
                </form>
            </div>
        </div>
    </div>
</header>